body{
  background-color: #B2B2F8;
  font-family: 'Roboto Slab', serif;
}
*{
  font-family: 'Roboto Slab', serif;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.drum-pad{
    position: relative;
    float: left;
    width: 90px;
    height: 70px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 35px;
    box-sizing: border-box;
    cursor: pointer;

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #F48383;
}

#cont{
     width: 332px;
    height: 280px;
    display: inline-block;
    margin: 20px;
     outline: 5px solid ##8383F4;
    position: relative;
    text-align: center;
    background-color: #8383F4;
  border-radius: 3px;
    margin-top: 0px;
  padding: 20px;
}

#display{
   width: 332px;
   background-color: #F4F483;
   min-height: 50px;
   border-radius: 3px;
   text-align: center;
}

.pow{
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 20px;
  background-color: black;
  margin-bottom: 10px;
   cursor: pointer;
}

.lBox{
  background-color: #1543f9;
  width: 45%;
  height: 99%;
}

.rBox{
  background-color: #1543f9;
  width: 45%;
  height: 99%;
  margin-left: auto;
  box-sizing: border-box;
}

#powText{
  margin-bottom: 0px;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.power{
  margin-right : 180px;
   box-sizing: border-box;
  justify-self: start;
 
}